<form>
  <p>What is your favorite color?</p>
  <input type="radio" name="color" value="red"> Red
  <input type="radio" name="color" value="blue"> Blue
  <input type="radio" name="color" value="green"> Green

  <p>What is your favorite animal?</p>
  <input type="radio" name="animal" value="cat"> Cat
  <input type="radio" name="animal" value="dog"> Dog
  <input type="radio" name="animal" value="bird"> Bird
</form>

<iframe style="border-radius:12px" src="https://docs.google.com/document/d/1d967hzeDXLbn9Yo1KeV7wKSwsLqty8yxFqS4eSttwYw/view?tab=t.0"
width="100%" height="352" frameBorder="0"
>

</iframe>